# Node modules
node_modules/

# Env files
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Sequelize
migrations/*.js
seeders/*.js

# Build folders
dist/
build/

# IDE
.vscode/
.idea/